/nbproject/private/
/nbproject
*.psd
=======
nbproject
/app/tmp/cache/views/*
/app/tmp/sessions/*
/app/tmp/tests/*
/app/tmp/logs/error.log
/app/tmp/logs/debug.log
/app/tmp/cache/models/*
/app/tmp/cache/persistent/*

/uploads/photos/
/app/webroot/js/spine/app/director/controllers/test/
!/app/Config/database.php
!/app/Config/core.php
!/app/Config/acl.php
!/app/Config/acl.ini.php