html, body {
  background: none repeat scroll 0 0 #606067;
  
  display: -webkit-box;
  -webkit-box-align: stretch;
  -webkit-box-orient: vertical;

  display: -moz-box;
  -moz-box-align: stretch;
  -moz-box-orient: vertical;

  display: box;
  box-align: stretch;
  box-orient: vertical;

  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;
}
body {
/*  font-family: Helvetica, Arial, "MS Trebuchet", sans-serif;*/
  font:14px 'Lucida Grande', 'Lucida Sans Unicode','Lucida Sans Regular', Verdana, sans-serif;
  font-size: 16px;
  color: #414141;
  -webkit-user-select: none;
}
header, footer {
  display: block;
}
.autoflow {
  overflow: auto;
}
.flex, flex1 {
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
}
.hbox {
  display: -webkit-box;
  -webkit-box-align: stretch;
  -webkit-box-orient: horizontal;

  display: -moz-box;
  -moz-box-align: stretch;
  -moz-box-orient: horizontal;

  display: box;
  box-align: stretch;
  box-orient: horizontal;
}
.vbox {
  display: -webkit-box;
  -webkit-box-align: stretch;
  -webkit-box-orient: vertical;

  display: -moz-box;
  -moz-box-align: stretch;
  -moz-box-orient: vertical;

  display: box;
  box-align: stretch;
  box-orient: vertical;
}
h1, h2 {
  font-weight: bold;
  color: #565656;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5)
}
h1 {
  font-size: 21pt;
  color: #606060;
}
h2 {
  font-size: 24pt;
  color: #606060;
  margin: 0;
}
h3 {
  padding: 0;
  margin: 0;
  font-size: 15px;
  color: #606060;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
h4 {
  font-size: 14pt;
  color: #7e7f7e;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
a {
  color: #363636;
  cursor: move;
  text-decoration: underline;
}
pre { 
  margin: 0;
  font-family: serif, Helvetica, Arial, "MS Trebuchet", sans-serif;
}
ul, li {
  list-style: none;
  padding: 0
}
button {
  border: 1px solid #bbbbbb;
  font-weight: bold;
  text-shadow: 0 1px 1px #ffffff;
  font-family: Helvetica, Arial, "MS Trebuchet", sans-serif;
  font-size: 14px;
  color: #363636;
  padding: 6px 10px;
  margin: 1px 1px 1px 0;
  outline: none;
  background: #f9f9f9;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#e3e3e3));
  background: -moz-linear-gradient(top, #f9f9f9, #e3e3e3);
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 1px #ffffff;
  -webkit-box-shadow: 0 1px 1px #ffffff;
  box-shadow: 0 1px 1px #ffffff;
}
.right {
  float: right
}
.left {
  float: left
}
.tright {
  text-align: right;
}
li hr {
  margin: 19px 2px -41px;
  border-width: 1px;
  border-color: #5D5D5D;
}
.content label div {
  color: rgba(0, 0, 0, 0.6);
}
.content, #views .views .view {
  -webkit-user-select: none;
}
div.show div.content label:nth-child(1) span {
  font-weight: normal;
  font-family: serif;
  font-style: italic
}
button.clear {
  margin-right: 10px
}
button:active {
  background: #e3e3e3;
  background: -webkit-gradient(linear, left top, left bottom, from(#e3e3e3), to(#f9f9f9));
  background: -moz-linear-gradient(top, #e3e3e3, #f9f9f9);
  background: linear-gradient(top, #e3e3e3, #f9f9f9);
}
button.default {
  color: #ffffff;
  border: 1px solid #3f68a5;
  text-shadow: 0 -1px 1px #46677f;
  background: #7bb5db;
  background: -webkit-gradient(linear, left top, left bottom, from(#7bb5db), to(#4775b8));
  background: -moz-linear-gradient(top, #7bb5db, #4775b8);
  background: linear-gradient(top, #7bb5db, #4775b8);
}
button.default:active {
  background: #4775b8;
  background: -webkit-gradient(linear, left top, left bottom, from(#4775b8), to(#7bb5db));
  background: -moz-linear-gradient(top, #4775b8, #7bb5db);
  background: linear-gradient(top, #4775b8, #7bb5db);
}
button.default .active {
  background: #4775b8;
  background: -webkit-gradient(linear, left top, left bottom, from(#4775b8), to(#7bb5db));
  background: -moz-linear-gradient(top, #4775b8, #7bb5db);
  background: linear-gradient(top, #4775b8, #7bb5db);
}
button.dark:active {
  background: #404040;
  background: -webkit-gradient(linear, left top, left bottom, from(#404040), to(#454545));
  background: -moz-linear-gradient(top, #404040, #454545);
  background: linear-gradient(top, #404040, #454545);
}
button.dark {
  border: 1px solid #555555;
  color: #9C9C9C;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
  background: #494949;
  background: -webkit-gradient(linear, left top, left bottom, from(#494949), to(#333333));
  background: -moz-linear-gradient(top, #494949, #333333);
  background: linear-gradient(top, #494949, #333333);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
button.invite {
  font-size: 1.5em;
  line-height: 3em;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  margin: 5px;
}
.invite {
  text-align: center
}
label {
  display: block;
  margin: 0 0 10px 0;
  overflow: visible;
  color: rgba(0, 0, 0, 0.7);
  font-family: serif
}

label span {
  display: block;
  margin-bottom: 6px;
  font-size: 13px;
}

label input {
  font-size: 14px;
  display: block;
}

label input[type="checkbox"] {
  width: 15px !important;
  margin-right: 7px;
  display: inline-block;
}

label input[type="checkbox"] + span { display: inline; }

label input[type="text"] {
  width: 220px;
  margin: 0 2px 0 0;
  padding: 4px 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.view .enlightened {
  color: #9A9A9A;
  font-family: serif;
  font-size: 1.3em;
  font-style: italic;
  text-shadow: 1px -1px 0 rgba(0, 0, 0, 0.7);
}
.view label span, .dimmed{
  color: #676767;
  text-shadow: 0 1px 0 #DDDDDD;
}
.view label span {
  font-family: serif;
  font-size: 1.3em;
  font-style: italic;
}
label input[type="password"] {
  width: 220px;
  margin: 0 2px 0 0;
  padding: 4px 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

textarea {
  width: 220px;
  margin: 0 2px 0 0;
  padding: 4px 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

textarea, input[type="text"], input[type="password"] {
  border: 1px solid #9e9fa2;
  color: #414141;
  text-shadow: 0 1px 1px #ffffff;
  font-size: 17px;
  outline: none;
  padding: 10px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background: #e6e6e7;
  background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e7), to(#fafafa));
  background: -moz-linear-gradient(top, #e6e6e7, #fafafa);
  background: linear-gradient(top, #e6e6e7, #fafafa);
  background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e7), color-stop(0.3, #fafafa), to(#fafafa));
}

textarea {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  height: 70px;
}
.vdivide {
  width: 8px;
  border: 1px solid #c5c5c5;
  border-width: 0 1px 0 1px;
  border-right-color: rgba(0, 0, 0, 0.3);
  background: #f9f9f9;
  background: url(img/draghandle.png), -webkit-gradient(linear, left top, right top, from(#f9f9f9), to(#dfe0e1));
  background: url(img/draghandle.png), -webkit-linear-gradient(left, #f9f9f9, #dfe0e1);
  background: url(img/draghandle.png), -moz-linear-gradient(left, #f9f9f9, #dfe0e1);
  background: url(img/draghandle.png), linear-gradient(left, #f9f9f9, #dfe0e1);
  background-repeat: no-repeat;
  background-position: center;
  box-sizing:border-box;
  cursor: w-resize
}
.options li.disabled {
  color: #ABABAB;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#dfe0e1));
  background: -webkit-linear-gradient(top, #f9f9f9, #dfe0e1);
  background: -moz-linear-gradient(top, #f9f9f9, #dfe0e1);
  background: linear-gradient(top, #f9f9f9, #dfe0e1);
  border-left: 0 solid;
  cursor: auto;
}

.hdivide {
  height: 8px;
  border: 1px solid #c5c5c5;
  border-width: 1px 0 1px 0;
  border-bottom-color: rgba(0, 0, 0, 0.3);
  background: #f9f9f9;
  background: url(img/draghandle.png), -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#dfe0e1));
  background: url(img/draghandle.png), -webkit-linear-gradient(top #f9f9f9, #dfe0e1);
  background: url(img/draghandle.png), -moz-linear-gradient(top, #f9f9f9, #dfe0e1);
  background: url(img/draghandle.png), linear-gradient(top, #f9f9f9, #dfe0e1);
  background-repeat: no-repeat;
  background-position: center;
  box-sizing:border-box;
  cursor: n-resize
}
#title {
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: inset 0px -1px 3px #1d1d1d;
  -webkit-box-shadow: inset 0px -1px 3px #1d1d1d;
  box-shadow: inset 0px -1px 3px #1d1d1d;
  background: #474747;
  background: -webkit-gradient(linear, left top, left bottom, from(#474747), to(#303030));
  background: -moz-linear-gradient(top, #474747, #303030);
  background: linear-gradient(top, #474747, #303030);
}
#title h1 {
  line-height: 2.5em;
  font-size: 1.5em;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #555;
  border-right: 1px solid #181818;
  -moz-box-shadow: 1px 0px 1px #525252;
  -webkit-box-shadow: 1px 0px 1px #525252;
  box-shadow: 1px 0px 1px #525252;
  text-shadow: 0 -1px 1px black;
  font-weight: bold;
  width: 200px
}
.canvas {
  background: url(img/pattern.png) repeat  0 0;
}
.canvas-bg-light {
  background-color: #EFEFEF;
}
.canvas-bg-medium {
  background-color: #606067;
}
#content .content.over {
  background: url(img/gradient-over.png) repeat 0 0;
  background-size: 100% 100%;
}
#content .content.over.nodrop {
  background-image: url(img/gradient-nodrop.png)
}
#content .header section.top {
  background: linear-gradient(center top, #B9B9B9, #979797);
  background: -moz-linear-gradient(center top, #B9B9B9, #979797);
  background: -webkit-gradient(linear, center top, center bottom, from(#B9B9B9), to(#979797));
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  padding: 10px 10px 10px 15px;
  margin-top: 1px;
}
#sidebar {
  width: 300px;
}
#sidebar ul {
  margin: 0;
  padding: 0;
}
#sidebar .item:not(.sublist-item) {
  cursor: move;
  position: relative;  
  color: #D4D4D4;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 5px;
  padding: 15px 0 15px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}
#sidebar .item.active {
  color: #D4D4D4;
}
#sidebar .gal.item {
  background: url("img/gradient-normal.png") repeat  0 0;
  background-size: 100% 100%;
  font-size: 1.2em;
}
#sidebar .gal.item.active {
  background-image: url("img/gradient-active.png");
}
#sidebar .gal.item.over {
  background-image: url("img/gradient-over.png");
}
#sidebar .gal.item.over.nodrop {
  background-image: url("img/gradient-nodrop.png");
}
#sidebar .item .cta {
  font-size: 1.5em;
  padding: 0 10px;
  position: absolute;
  right: 10px;
  border: 0 none;
  top: 10px;
/*  color: #FFFFFF;
  color: rgba(255, 255, 255, 0.2);
  line-height: 1.2em;
  right: 10px;*/
}
#sidebar .active .alb.item .cta {
  background-color: #898989;
}
#sidebar .alb.item .cta {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5) inset;
  font-size: 1em;
  line-height: 1.3em;
  top: 12px;
}
#sidebar .item.active .gal.cta, .cta.active {
  color: rgba(255, 255, 255, 0.9);
  background-color: #898989;
  background-image: radial-gradient(15px 20px, #BDBDBD, #898989);
  border: 1px solid #575757;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5) inset;
  top: 10px;
}
.cta {
  color: rgba(255, 255, 255, 0.2);
  padding: 0 6px 0 6px;
  font-size: 12px;
  text-shadow: 0 1px 0.1px #666666 inset;
/*  font-weight: bold;
  box-shadow: 0 1px 3px #666666 inset;*/
}
#content .header section.closeView {
  line-height: 0.1em;
  text-align: center;
  cursor: pointer;
  padding: 5px;
}
#content .header section {
  background: linear-gradient(center top, #B9B9B9, #979797);
  background: -moz-linear-gradient(center top, #B9B9B9, #979797);
  background: -webkit-gradient(linear, center top, center bottom, from(#B9B9B9), to(#979797));
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  padding: 10px 10px 10px 15px;
  margin-top: 1px;
}
.header section.top {
  height: 80px;
  position: relative;
}
.header section h2 {
  margin: 10px 0;
}
.header section .cta {
  position: absolute;
  right: 20px;
  top: 23px;
}
.header section .cta h2 {
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
  padding: 0 10px;
  margin: 0;
}
.header section h3 span:first-child {
  margin-left: 30px
}
#sidebar li img {
  float: left;
  width: 23px;
  height: 23px;
  margin: 8px;
}
#sidebar .item span {
/*  float: left;*/
  color: rgba(250, 250, 250, 0.6);
  margin: 0;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.9);
}
#sidebar .item span.name {
  font-size: 1.1em;
}
#sidebar .item.active span.name {
  color: rgba(255, 255, 255, 0.9);
}
#sidebar .item.active span.author {
  color: rgba(250, 250, 250, 0.3);
}
#sidebar .item span.author {
/*  color: rgba(200, 200, 200, 0.3);*/
  font-size: 0.7em;
  font-style: italic;
}
#sidebar .sublist-item {
  cursor: move;
  margin: 5px 0 0;
  font-size: 1.1em;
  color: rgba(255, 255, 255, 0.2);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.8);
}
#sidebar .item.active .sublist-item span {
  color: rgba(250, 250, 250, 0.8);
}
#sidebar .sublist-item span {
  color: rgba(250, 250, 250, 0.5);
}
#sidebar .sublist-item span.title {
  padding-left: 70px
}
#sidebar footer {
  padding: 6px;
  border-top: 1px solid #c5c5c5;
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dedfe0));
  background: -moz-linear-gradient(top, #ffffff, #dedfe0);
  background: linear-gradient(top, #ffffff, #dedfe0);
  -moz-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1);
  text-align: right;
}
#sidebar .search {
  padding: 6px 7px 5px 7px;
  border: 1px solid #c5c5c5;
  border-width: 1px 0 1px 0;
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dedfe0));
  background: -moz-linear-gradient(top, #ffffff, #dedfe0);
  background: linear-gradient(top, #ffffff, #dedfe0);
}
#sidebar .search input {
  font-size: 30px;
  width: 100%;
}
#sidebar .empty {
  font-style: italic;
}
#sidebar .items .item.dragged {
  opacity: 0.5;
}
#sidebar ul.sublist {
  line-height: 3.4em;
  margin: 55px 5px 0 40px;
}
#sidebar ul.sublist li.sublist-item {
  background-image: url(img/bauer-small.png);
	 -moz-background-size: 48px 192px;
	 -webkit-background-size: 48px 192px;
	 background-size: 48px 192px;
	 -moz-background-position: 0 0;
	 -webkit-background-position: 0 0;
	 background-position: 0 0;
  background-repeat: no-repeat;
/*  border-bottom: 1px solid #B6B3A3;
  border-left: 1px solid #B6B3A3;*/
  line-height: 2.6em;
  position: relative
}
#sidebar ul.sublist li.sublist-item.active {
  -moz-background-position: 0 -48px;
	 -webkit-background-position: 0 -48px;
	 background-position: 0 -48px;
}
#sidebar ul.sublist li.sublist-item.over {
  -moz-background-position: 0 -144px;
	 -webkit-background-position: 0 -144px;
	 background-position: 0 -144px;
}
#sidebar ul.sublist li.sublist-item.over.nodrop {
  -moz-background-position: 0 -96px;
	 -webkit-background-position: 0 -96px;
	 background-position: 0 -96px;
}
#sidebar .expander {
  width: 23px;
  height: 23px;
  float: left;
  margin: 0 10px;
  cursor: pointer
}
#sidebar .expander {
  background: url('img/arrow.png') no-repeat 0 0
}
#sidebar .expander.expand {
  background: url('img/arrow.png') no-repeat 0 -23px
}
#content .items .item {
  float: left;
  cursor: move;
}
#content .options {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
  font-weight: bold;
  text-shadow: 0 1px 1px #ffffff;
  font-size: 14px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e0e0e1));
  background: -moz-linear-gradient(top, #ffffff, #e0e0e1);
  background: linear-gradient(top, #ffffff, #e0e0e1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.options li {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 30px;
  height: 30px;
  padding: 0 20px;
}
.options li:not(.disabled) {
  cursor: pointer;
}
.options li:not(.disabled):active, #content .options li.active:not(.disabled) {
  background: #FFB399;
  -moz-box-shadow: inset 0 0 10px #9c9c9c;
  -webkit-box-shadow: inset 0 0 10px #9c9c9c;
  box-shadow: inset 0 0 10px #9c9c9c;
}
.options li.default, #content .options li.active:not(.disabled), #content .options li.default:active {
  text-shadow: 0 -1px 1px #FFB399;
  background: #FFB399;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFB399), to(#FF6633));
  background: -moz-linear-gradient(top, #FFB399, #FF6633);
  background: linear-gradient(top, #FFB399, #FF6633);
}
.empty {
  font-style: italic;
}
#views .views, .edit.view .content {
  
}
#views .views .view {
  height: 0;
}
.views > .view:not(.active) {
  display: none !important;
}
#content {
  
}
#content .content .items .item:not(.thumbnail) li {
  color: rgba(0, 0, 0, 0.8);
  padding-top: 5px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
#content .content .items .item:not(.thumbnail) {
  background-repeat: no-repeat;
  -moz-background-position: 30px 35px, 105px 35px, 30px 100px, 105px 100px;
	 -webkit-background-position: 30px 35px, 105px 35px, 30px 100px, 105px 100px;
	 background-position: 30px 35px, 105px 35px, 30px 100px, 105px 100px;
}
#content .content .container.active {
  background-repeat: no-repeat;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6) inset;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6) inset;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6) inset;
  background-color: rgba(255, 255, 255, 0.2);
}
#content .content .items {
  padding: 20px;
}
#content .content .item:hover {
/*  box-shadow: 1px -1px 1px #777777 inset, 0 0 2px #FFFFFF, 1px 1px 3px #333333 ;
  box-shadow: 0 1px 2px #333333 inset;*/
}
#content .content .container {
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}
#content .photos.content .container {
  background: none;
}
#content .content .container fieldset {
  border: medium none;
  float: left;
  margin: 10px 0 0;
  min-height: 100px;
  width: 320px;
}
#content .content .container {
  margin: 5px;
  padding: 10px;
}
#content .content .container .info {
  padding: 10px 0;
}
#content .content li.item {
  
}
#content .content.overview div.item {
  margin: 0 5px 5px 0;
}
#content .content.overview div.items {
  width: 320px;
  padding: 7px;
  float: left;
}
#content .albums.content .item {
/*  padding: 15px 15px 10px;*/
}
#content .content .item {
  outline: #121212;
}
#content .content .thumbnail {
  outline: none;
  background: url("img/bauer.png") no-repeat 0 0;
  padding: 10px;
  color: rgba(200, 200, 200, 0.5);
  line-height: 1.2em
}
#content .content.albums .items .thumbnail {
  width: 140px;
  height: 140px;
}
#content .content.overview .items .thumbnail {
  width: 50px;
  height: 50px;
}
#content .content.photos .items .thumbnail {
  width: 110px;
  height: 110px;
}
#content .content .thumbnail.image {
  background: url("img/photo-loader.gif") no-repeat center center;
  border: 1px solid #575757;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
#content .content .item.active .thumbnail .name {
  color: rgba(250, 192, 150, 0.4);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
  font-family: Verdana, sans-serif;
}
#content .content .items {
  position: relative;
}
.item.active + .item {
/*  margin-left: 120px;*/
}
#content .content .item.active {
  margin-bottom: 5px;
}
#content .content .item:not(.active) span.close {
  display: none;
}
#content .content .item span.close {
  position: absolute;
  cursor: pointer;
  top: -20px;
  right: -14px;
}
#content .content .item.active {
  background-color: rgba(255, 187, 102, 0.8);
  box-shadow: 1px -1px 0 #FFFFFF inset, 1px -1px 10px #666666 inset, 1px 0 2px #FFFFFF, 0 0 3px #000000 inset;
}
#content .content .item ul {
  float: left;
}
#content .content .item ul {
  display: none;
}
#content .content .item.active ul {
  display: inherit;
  float: right;
  padding: 15px;
  margin: 0 15px 15px 0;
  -webkit-transform: scale(1);
  -webkit-transform-origin: 0% 0%;
  -moz-transform: scale(1);
  -moz-transform-origin: 0% 0%;
  -o-transform: scale(0.8);
  -o-transform-origin: 0% 0%;
  -ms-transform: scale(1);
  -ms-transform-origin: 0% 0%;
  transform: scale(1);
  transform-origin: 0% 0%;
}
#content .header label, #content .header h3 {
  display: inline;
}
#content .header h3:nth-child(2) {
  margin-left: 20px;
}
#content .header label {
  padding: 0 10px;
  text-shadow: 0 0 0px white;
}
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.box-shadow {
  box-shadow: 0px -1px 3px 5px rgba(0, 0, 0, 0.8)
}
.views .view div.left:nth-child(2) {
  padding-left: 50px;
}
#sidebar .item-header {
  background-size: 50px 50px;
}
.copycursor {
  cursor: url("img/cursor-copy.png"), auto;
}
.movecursor {
  cursor: url("img/cursor-move.png"), auto;
}
.preloader {
  position: absolute;
  right: 0;
  top: 200px;
}
.preloader .content {
 
}
.preloader .content div:nth-child(1) {
  background: url("img/35.png") no-repeat scroll 0 0 transparent;
  height: 40px;
  width: 40px;
}
#loader div.dialogue div {
  color: #C9C9C9;
  font-family: georgia;
  font-size: 21px;
  text-shadow: 0 -1px 0 #000000;
  position: relative;
}
#loader .status-symbol {
   margin: 10px;
}
#content .preview {
  min-width: 120px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
  color: rgba(255, 255, 255, 0.8);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.9);
  background: rgba(200, 200, 200, 0.9);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(180, 180, 180, 0.9)), to(rgba(130, 130, 130, 0.9)));
  background: -moz-linear-gradient(center top , rgba(180, 180, 180, 0.9), rgba(130, 130, 130, 0.9));
  background: linear-gradient(center top , rgba(180, 180, 180, 0.9), rgba(130, 130, 130, 0.9));
  padding: 0 15px;
  position: absolute;
  display: none;
  z-index: 1
}