@font-face {
  font-family: ChopinScript;
  src: url(fonts/ChopinScript.ttf);
}
@font-face {
  font-family: ChopinScript;
  src: url(fonts/ChopinScript.ttf);
  font-weight: bold;
}
@font-face {
  font-family: Express;
  src: url(fonts/Express.ttf);
}
@font-face {
  font-family: Kimberle;
  src: url(fonts/kimberle.ttf);
}
@font-face {
  font-family: Puritan;
  src: url(fonts/Puritan.ttf);
}
@font-face {
  font-family: PuritanAlternate;
  src: url(fonts/PuritanAlternate-Bold.ttf);
}
@font-face {
  font-family: PuritanSwash;
  src: url(fonts/PuritanSwash-Bold.ttf);
}
@font-face {
  font-family: Linolschrift;
  src: url(fonts/Linolschrift.ttf);
}
@font-face {
  font-family: HappyEaster;
  src: url(fonts/HappyEaster.ttf);
}
