
/* =============================================================================
   Links
   ========================================================================== */


a {
  color: inherit;
  text-decoration: none
}
a:visited { color: inherit; }
a:hover { color: inherit; text-decoration: none; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* normalize bootstrap classes*/

label, input, button, select, textarea {
  font-size: inherit;
}
.thumbnail {
    border: 0 none;
}
.breadcrumb {
  background: linear-gradient(center top , rgba(150, 150, 150, 0.9), rgba(200, 200, 200, 0.7)) repeat scroll 0 0 #000000;
  background: -moz-linear-gradient(center top , rgba(150, 150, 150, 0.9), rgba(200, 200, 200, 0.7)) repeat scroll 0 0 #000000;
  background: -webkit-linear-gradient(center top , rgba(150, 150, 150, 0.9), rgba(200, 200, 200, 0.7)) repeat scroll 0 0 #000000;
  background: linear-gradient(center top , rgba(150, 150, 150, 0.9), rgba(200, 200, 200, 0.7)) repeat scroll 0 0 #000000;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(150, 150, 150, 0.9)), to(rgba(200, 200, 200, 0.7))) repeat scroll 0 0 #000000;;

  border: 0 none;
  box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.7);
  border: 0 none;
  margin: 2px 0;
  padding: 0;
}
.breadcrumb li, .header {
  text-shadow: 0 1px 0 #DDDDDD;
  color: rgba(10, 10, 10, 1);
}
.disabled, .breadcrumb .active {
  opacity: 0.5;
}
.dropdown-menu .disabled:hover {
  background-color: transparent;
  color: inherit;
}
label {
  font-size: 1.3em;
  color: #222222;
  font-family: sans serif;
  font-size: 1.3em;
  font-style: italic;
}
.label {
  display: inline-block;
}
.the-icons i {
  display: block;
}
.dropdown-menu i:after {
  margin-right: 5px;
}
[class^="icon-"]:last-child {
/*  margin-right: 5px;*/
}
button:disabled .icon-white {
  opacity: 0.3
}
form {
  margin: 0;
}

/* modal */

.modal-header {
  padding: 9px 15px 25px;
}
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  color: #BCBCBC;
}
.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
  color: #BCBCBC;
}
/* small slideshow bug */
.modal-body {
  max-height: 1000px;
}
.header label {
    color: #222222;
    font-family: sans serif;
    font-size: 1.5em;
    font-style: italic;
}