
/* =============================================================================
   Links
   ========================================================================== */


a {
  color: inherit;
  text-decoration: none
}
a:visited { color: inherit; }
a:hover { color: inherit; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }